#shaun{
	position: relative;
	width: 30%;
	height: 30%;
	top:  450px;
	left: 50;
}
body{
	position: relative;
  background-image: url("https://st2.depositphotos.com/5479200/10565/v/950/depositphotos_105657984-stock-illustration-farm-game-background.jpg"); 
  background-color: #cccccc;
  height: 600px; 
  width: 100%;
  background-position: center; 
  background-repeat: repeat-x; 
  z-index: -1;
  background-size:cover; 
}
.obselcals{
	position: absolute;
	height: 30%;
	width: 30%;
	top:300;
	}
#infoBar{
	position: static;
	float: left;                  
	width: 100%;
	height: 50px;
	background-image: url(..//recources//6.png);
	z-index: 2;

}
