


body{
	 overflow: auto;
	 position: relative;
	 padding: 0 0 0 0 ;
	 margin: 0 0 0 0;
}

#shaun{
	position: relative;
	top:  450px;
}

#shaun img{	
	width: 15%;
	height: 15%;	
}

#scd{
  font-family: Comic Sans MS;
	display: inline-flex;
	position:absolute;
	opacity: 1;
	height: 200px;
	top: 0px;
	width: 100%;
  z-index: 2;
	text-align: center;
	background-image: url('\recources\\6.png');
background-size: cover;

	
}
#frs{
	vertical-align:middle;
	text-align: center;
	position:absolute;
	background-color: #056d96;
	height: 4%;
	width: 100%;
  z-index: 100;
  top: 0px;
  left: 0px;
  box-shadow: 1px 12px 2px 1px rgba(133, 108, 27, .2);

}

#third{

	text-align: center;
	position:absolute;
	height: 4%;
	width: 100%;
  z-index: 105;
  top: 30px;
  
  padding: 16px;

}
#helthPar{
	text-align: center;
	vertical-align: middle;
	width: 40%;
	height:15px;
	position:absolute;
	background-color: #056d96;
	z-index: 105;
	border-radius: 8px;
}
 #slider{
 	position: static;
 	top: 15px;
 	width: 97%;
 	background-image: linear-gradient(to left,#fffb00,  #fc5d00,#a61212,#8c0000);
 	height: 60%;
 	z-index: 106; 
 	margin:  5px;
 	border-style: solid;
 	border-width: 1px;
 	border-top-color: #a61212;
 	border-radius: 5px;
 }

 #closeDiv{
 	position: absolute;
 	top: -20px;
 	left: -15px;
 	left: 0;
 	width: 10%;
 	height: 10%;
 	z-index: 110;


 }

.btn{
	text-align: center;
	display:inline-flex;
	background-image: linear-gradient( #0082b5, #015373);
	height: 100%;
	width: 10%;
  z-index: 101; 
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #3c6b80;
  border-bottom-style: solid;
  border-bottom-width: .5px;
  border-bottom-color: #CFAF43;
  border-right-style: solid;
  border-right-width: .5px;
  border-right-color: #CFAF43;
  box-shadow: 1px 5px 2px 1px rgba(133, 108, 27, .2);
  padding: 0 0 0 0 ;
	margin: 0 0 0 0;

}
a {
		text-align: center;
		width: 100%;
		font-family: Comic Sans MS;
		color: #CFAF43;

}
p{

	text-align: center;
	font-family: Comic Sans MS;
	color: #015373;
}

.btn:hover{ 
   	background-image: linear-gradient(#071d26, #015373);
 } 

.infoBox{
	
	vertical-align:middle;
	text-align: center;
	position:absolute;
	background-color: #ffffff ;
	height: 0%;
	width: 0%;
  z-index: 109;
  top: 50px;
  left: 350px;
  box-shadow: 1px 7px 7px 1px rgba(195, 224, 217, .5);
  border-radius: 10%;
  opacity: .7;
  border-style:solid;
  border-width: 1px;
  border-color: #c3e0d9;

}

.infoBox p{
	top: 10px;
	left: 20px;
	padding: 20px;
}

.contant {
	border-top-style: solid;
	border-width: 2px 2px 2px 2px;
  border-color: #cccccc;
  display: inline-flex;
  background-image: url('\recources\\4.png'); 
  background-color: #cccccc;
  height: 600px; 

 
  background-position: center; 
  z-index: -1;
  
}
.obselcals{
	position: absolute;
}

img{
	height: 40%;
	width: 40%;
}

