/*Game CSS*/


body {
 background-image: url("https://st2.depositphotos.com/5479200/10565/v/950/depositphotos_105657984-stock-illustration-farm-game-background.jpg");

  height: 500px; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed; 

}


#sheep{

  margin:auto;
  display:block;
  border-radius: 150px;
  line-height: 500px;
  position: fixed;
  bottom: 250px;
  left: 570px;
}


h1{

  margin:auto;
  display:block;
  border-radius: 15px;
  line-height: 60px;
  font-weight: bold;
  font-family:"Times New Roman", Times;
  font-size: 150%;
  position: fixed;
  bottom: 550px;
  right: 600px;
 

}
a{
  
  margin:auto;
  display:block;
  border-radius: 15px;
  line-height: 60px;
  font-weight: bold;
  font-family:"Times New Roman", Times;
  font-size: 150%;
  position: fixed;
  bottom: 150px;
  right: 600px;
 
}




#first{
  height: 90px;
  width: 10%;
  position: fixed;
  bottom: 0px;
  right: 290px;
}




#second{
  height: 90px;
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0px;
  left: 290px;
}


#stage{
  background:#99CCFF;
  margin:auto;
  display:block;
  border-radius: 15px;
  line-height: 60px;
  font-weight: bold;
  font-family:"Times New Roman", Times;
  font-size: 150%;
 
}



